body {
    font-family: "Lato", sans-serif !important;
}

.use-font {
    font-family: "Playfair Display", serif;
}

.header {
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-cta {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}

.go-back {
    position: absolute;
    left: 0;
    font-size: 24px;
}

a,
a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.home {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/638/601/313/lipstick-shadows-black-background-brush-cosmetics-hd-wallpaper-preview.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_cta2 {
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: space-around;
}

.home-title {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    padding-top: 7rem;
}

.home-cta {
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-cta-link {
    font-size: 32px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
}

.home-bg {
    width: 100%;
}

.compare-bg {
    background-image: url("https://image.freepik.com/free-photo/display-background-cosmetic-product-presentation-empty-showcase-3d-flower-paper-illustration-rendering_51264-622.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.compare-col {
    height: 400px;
    background-color: whitesmoke;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 20px;
}

.product-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.compare-select {
    max-width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
}

.btn-container {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 20px 0;
}

.a-btn {
    text-align: center;
    font-size: 28px;
    cursor: pointer;
    border: 2px solid #212529;
    border-radius: 10px;
    padding: 5px 15px;
}

.result-btn {
    height: 30px;
    border: 2px solid #212529 !important;
    border-radius: 10px;
}

.result-section {
    width: 100%;
}

.result-heading {
    text-align: center;
}

.result-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-cta button {
    width: 100px;
    margin-top: 5px;
    font-weight: bold;
}

.modal-body {
    text-align: center;
}

.modal-content {
    border-radius: 20px !important;
}

.modal-footer button {
    font-weight: bold;
}

.span-box {
    display: inline-block;
    border: 2px solid #212529;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
}

.span-box:hover {
    background-color: #212529;
    color: white;
}

.question-container {
    background-image: url("https://wallpaperaccess.com/full/2317439.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.quiz-container {
    position: relative;
    top: 50px;
    left: 50px;
    height: 400px;
    background-color: pink;
    border-radius: 50px;
    width: 600px;
    text-align: center;
    padding: 50px;
    display: grid;
    place-items: center;
}

.text-bold {
    font-weight: bold;
    font-size: 32px;
}

.option-container {
    min-height: 70px;
    border: 2px solid black;
    background-color: lightblue;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    display: grid;
    place-items: center;
}


/* Let's get this party started */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #aaa;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #ccc;
}